:root {
    --main-bg-color: #f7f2eb;
    --home-graphic-color: #0f3b67;
    --main-text-color: #161616;
    --main-border-color: #204a8c;
    --main-header-color: #f7f2eb;
}

/* Custom Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Animations */
@keyframes displayGraphicAnimation {
    0% { color: var(--main-bg-color); }
    100% { color: var(--home-graphic-color); }
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desktop and Tablet Styles */
@media screen and (min-width: 769px) {
    body {
        font-family: 'Montserrat','Open Sans',sans-serif;
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        /* Ensure the body takes full viewport height so footer appears at the bottom*/
        min-height: 100vh;

        header {
            h1 {
                font-size: 2rem;
                color: var(--main-header-color);
                border: 1rem solid var(--main-border-color);
                background-color: var(--main-border-color);
                min-width: 100vw;
            }
        }
        main {
            flex-grow : 1;
            h2 {
                margin: 1rem;
            }
            pre {
                color: var(--home-graphic-color);
                font-size: 7vmax;
                font-weight: bold;
                animation: displayGraphicAnimation 3s forwards
            }

            p{
                color: var(--main-text-color);
                font-size: 1.5rem;
                padding: 1rem;
            }

            figure {
                margin: 1rem;
                picture img {
                    border: 3px solid var(--main-border-color);
                    padding: 1px;
                }
                img {
                    width: 100%;
                    height: auto;
                }
                figcaption {
                    color: var(--main-text-color);
                    font-size: 2vmax;
                    text-align: left;
                }
            }
            
            a {

                color: var(--main-text-color);
                text-decoration: none;
                
            }
            a:hover {
                text-decoration: underline;
                color: blueviolet;
            }

        }
        footer {
            min-width: 100vw;
            background-color: var(--main-border-color);
            border: 1rem solid var(--main-border-color);
            nav {
                font-size: 0.7rem;
                color: var(--main-header-color);
                a{
                    color: var(--main-header-color);
                    text-decoration: none;
                    
                }
                a:hover {
                    text-decoration: underline;
                    color: blueviolet;
                }
            }
        }

    }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {

}







