:root {
    --main-bg-color: #f7f2eb;
    --main-text-color: #0f3b67;
    --main-border-color: #204a8c;
    --main-header-color: #f7f2eb;
}

body {
    font-family: 'Montserrat','Open Sans','Futura',sans-serif;
    background-color: var(--main-bg-color);
    header {
        h1 {
        color: var(--main-header-color);
        border: 1rem solid var(--main-border-color);
        background-color: var(--main-border-color);
        }
        

    }
    main {
        flex-grow : 1;
        pre {
        color: var(--main-text-color);
        font-size: 5dvw;
        }

    }
    footer {
        background-color: var(--main-border-color);
        border: 1rem solid var(--main-border-color);
        nav {
            color: var(--main-header-color);
            a{
                color: var(--main-header-color);
                text-decoration: none;
                
            }
            a:hover {
                text-decoration: underline;
                color: blueviolet;
            }
    }
}

}



/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


