/* Global CSS Variables, applies to all device types */
:root {
    color-scheme: light dark;
    /* Define color variables for light and dark modes */
    /* NOTE: if resorting to fallback, force light mode */
    --main-bg-color: light-dark(#f7f2eb, #080d14);
    --home-graphic-color: light-dark(#0f3b67, #b17436);
    --main-text-color: light-dark(#161616, #f0f0f0);
    --secondary-text-color: light-dark(#555555, #aaaaaa);
    --main-border-color: light-dark(#204a8c, #bc842a);
    --main-header-color: light-dark(#f7f2eb, #080d14);
    --link-highlight-color: light-dark(#7e1fea, #cce221);
    --button-bg-color: light-dark(#437bd5, #dfb573);
    --project-card-title-bg-color: light-dark(#f3f3f3, #121a22);
    --project-card-desc-bg-color: light-dark(#f3f3f3, #121a22);
    --project-card-border-color: light-dark(#204a8c, #bc842a);
    --project-card-link-bg-color: light-dark(#437bd5, #bc842a);
    --project-card-link-highlight-color: light-dark(#7e1fea, #cce221);
    /* Define animation times */
    --fade-in-animation-time: 3s;
    --from-right-animation-time: 1s;
}

/* Media Query Variables (mainly for font sizes and media sizes) */
/* Tablet and Desktops */
@media screen and (min-width: 769px) {
    :root {
        /*Define text size variables*/
        --header-font-size: 2rem;
        --subheader-font-size: 1.5rem;
        --graphic-font-size: 7rem;
        --paragraph-font-size: 1.5rem;
        --caption-font-size: 1rem;
        --nav-font-size: 1rem;
        --text-padding: 1rem;

        /* Define margins and paddings variable */
        --media-padding: 0;

        /* Define media sizes */
        --media-width: 60vw;
        --media-height: auto;
        --project-card-width: 50dvw;

        /* Define base font size for responsive scaling */
        font-size: 1dvw;
    }
}

/* Mobile Devices (Portrait): bigger link and font sizes for accessibility */
@media screen and (max-width: 768px) and (orientation: portrait) {
    :root {
        /*Define text size variables*/
        --header-font-size: 3rem;
        --subheader-font-size: 2rem;
        --graphic-font-size: 8rem;
        --paragraph-font-size: 2rem;
        --caption-font-size: 1rem;
        --nav-font-size: 2rem;
        --text-padding: 1rem;

        /* Define margins and paddings variable */
        --media-padding: 0;

        /* Define media sizes */
        --media-width: 80vw;
        --media-height: auto;
        --project-card-width: 70dvw;
        
        /* Define base font size for responsive scaling */
        font-size: 2dvw;
    }
}

/* Mobile Devices (Landscape): tone down sizes for consistent display */
@media screen and (max-width: 768px) and (orientation: landscape) {
    :root {
        /*Define text size variables*/
        --header-font-size: 2rem;
        --subheader-font-size: 1.5rem;
        --graphic-font-size: 6rem;
        --paragraph-font-size: 1.2rem;
        --caption-font-size: 1rem;
        --nav-font-size: 1.2rem;
        --text-padding: 1rem;

        /* Define margins and paddings variable */
        --media-padding: 0;

        /* Define media sizes */
        --media-width: 80vw;
        --media-height: auto;
        --project-card-width: 60dvw;
        
        /* Define base font size for responsive scaling */
        font-size: 2dvw;
    }
}


/* Custom Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Animations */
@keyframes fadeIn {
    0% { color: var(--main-bg-color, white); }
    100% { color: var(--home-graphic-color, darkblue); }
}
@keyframes fromRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes outLeft {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes fromRightSolid {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes outLeftSolid {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


/* View Transitions (EXPERIMENTAL) */
@view-transition {
    navigation: auto;
}

/* Transition for outgoing page */
::view-transition-old(root) {
    animation: outLeftSolid 1s forwards;
}
/* Transition for incoming page */
::view-transition-new(root) {
    animation: fromRightSolid 1s forwards;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content */
body {
    font-family: 'Montserrat','Open Sans',sans-serif;
    background-color: var(--main-bg-color, white);
    display: flex;
    flex-direction: column;

    /* Ensure the body takes full viewport height so footer appears at the bottom*/
    min-height: 100vh;

    /* Prevent horizontal overflow */
    overflow-x: hidden;
    

    header {
        background-color: var(--main-border-color, darkblue);
        h1 {
            font-size: var(--header-font-size, 2rem);
            color: var(--main-header-color, white);
            border: 1rem solid var(--main-border-color, darkblue);
            min-width: 100vw;
            display: flex; /* To help align buttons to the right */
            align-items: center;
            
        }
        bttn-group {
            margin-left: auto; /* To align button group to the right */
            display: flex;
            gap: 1rem; /* Space between buttons */
        }
        button {
            margin: 0; /* To align buttons to the right */
            font-size: 1rem;
            padding: 0.5rem 1rem;
            border: 0.2rem solid var(--main-bg-color, white);
            border-radius: 0.5rem;
            background-color: var(--button-bg-color, lightblue);
            color: var(--main-header-color, white);
            cursor: pointer;
        }
        button:hover {
            background-color: var(--link-highlight-color, blueviolet);
        }
    }
    main {
        flex-grow : 1;
        /* Text Styles */
        h2 {
            margin: var(--subheader-font-size, 1rem);
            color: var(--main-text-color, black);
            font-size: var(--subheader-font-size, 2rem);
        }
        .graphic {
            color: var(--home-graphic-color, darkblue);
            margin: 1rem;
            font-size: var(--graphic-font-size, 7rem);
            font-weight: bold;
            animation: fadeIn var(--fade-in-animation-time, 3s) forwards
        }

        ol {
            color: var(--main-text-color, black);
            margin: var(--text-padding, 1rem);
            font-size: var(--paragraph-font-size, 1.5rem);
            padding: var(--text-padding, 1rem);
            /*Animation*/
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
        }

        p{
            color: var(--main-text-color, black);
            font-size: var(--paragraph-font-size, 1.5rem);
            padding: var(--text-padding, 1rem);
            /*Animation*/
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
        }
        p.wait{
            color: var(--main-text-color, black);
            font-size: var(--paragraph-font-size, 1.5rem);
            padding: var(--text-padding, 1rem);
            /*Animation*/
            opacity: 0;
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
            animation-delay: var(--from-right-animation-time, 0.5s);
        }
        p.wait2{
            color: var(--main-text-color, black);
            font-size: var(--paragraph-font-size, 1.5rem);
            padding: var(--text-padding, 1rem);
            /*Animation*/
            opacity: 0;
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
            animation-delay: calc(2 * var(--from-right-animation-time, 0.5s));
        }
        aside, cite {
            color: var(--secondary-text-color, gray);
            font-size: 1rem;
            padding: var(--text-padding, 1rem);
        }
        address {
            color: var(--main-text-color, black);
            font-size: var(--paragraph-font-size, 1.5rem);
            padding: var(--text-padding, 1rem);
            /*Animation*/
            opacity: 0;
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
        }
        form {
            border: 0px;
            color: var(--main-text-color, black);
            font-size: var(--paragraph-font-size, 1.5rem);
            padding: var(--text-padding, 1rem);
            /*Animation*/
            opacity: 0;
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
            animation-delay: var(--from-right-animation-time, 0.5s);
            fieldset {
                width: fit-content;
                padding: var(--text-padding, 1rem);
            }
        }

        /* Media Styles */
        figure {
            margin: 1rem;
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
            picture img {
                border: 0.5rem solid var(--main-border-color, darkblue);
                padding: var(--media-padding, 0);
                width: var(--media-width, 80vw);
                height: var(--media-height, auto);
            }
            video {
                border: 0.5rem solid var(--main-border-color, darkblue);
                padding: var(--media-padding, 0);
                width: var(--media-width, 80vw);
                height: var(--media-height, auto);
            }
            figcaption {
                color: var(--main-text-color, black);
                font-size: var(--caption-font-size, 1rem);
                text-align: left;
            }
        }

        figure.wait {
            opacity: 0;
            animation: fromRight var(--from-right-animation-time, 0.5s) forwards;
            animation-delay: var(--from-right-animation-time, 0.5s);
            picture img {
                border: 0.5rem solid var(--main-border-color, darkblue);
                padding: var(--media-padding, 0);
                width: var(--media-width, 80vw);
                height: var(--media-height, auto);
            }
            video {
                border: 0.5rem solid var(--main-border-color, darkblue);
                padding: var(--media-padding, 0);
                width: var(--media-width, 80vw);
                height: var(--media-height, auto);
            }
            figcaption {
                color: var(--main-text-color, black);
                font-size: var(--caption-font-size, 1rem);
                text-align: left;
            }
        }
        iframe {
            border: 0.5rem solid var(--main-border-color, darkblue);
            width: 100dvw;
            height: 50dvh;
        }
        project-card {
            margin: 1rem;
        }

        /* Link Styles */
        a {

            color: var(--main-text-color, black);
            text-decoration: none;
            font-size: var(--nav-font-size, 1rem);
            
        }
        a:hover {
            text-decoration: underline;
            color: var(--link-highlight-color, blueviolet);
            font-size: var(--nav-font-size, 1rem);
        }

        /* Button Styles */
        button {
            margin: 0.5rem 0.5rem; 
            font-size: 1rem;
            padding: 0.5rem 1rem;
            border: 0.2rem solid var(--main-bg-color, white);
            border-radius: 0.5rem;
            background-color: var(--button-bg-color, lightblue);
            color: var(--main-header-color, white);
            cursor: pointer;
        }
        button:hover {
            background-color: var(--link-highlight-color, blueviolet);
        }

        

    }
    footer {
        min-width: 100vw;
        background-color: var(--main-border-color, darkblue);
        border: 1rem solid var(--main-border-color, darkblue);
        nav {
            font-size: var(--nav-font-size, 1rem);
            color: var(--main-header-color, white);
            input#nav-toggle {
                display: none;
            }
            input#nav-toggle:checked ~ ul {
                display: block;
            }
            label.nav {
                font-weight: bold;
            }
            label.nav:hover {
                cursor: pointer;
                color: var(--link-highlight-color, blueviolet);
            }
            ul {
                display: none;
                list-style-type: none;
            }
            a {
                color: var(--main-header-color, white);
                text-decoration: none;
                
            }
            a:hover {
                text-decoration: underline;
                color: var(--link-highlight-color, blueviolet);
            }
        }
    }
}







